body, header, div{
    margin: 0;
    padding: 0;
}

.horizontal_display{
    display: flex;
}

.vertical_display{
    display: flex;
    flex-direction: column;
}


.background_color{
    background-color: #eafafe;
    padding: 0px;
}

.title_box{
    background-color: rgb(31, 182, 31);
    width: 1850px;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.games_box{
    margin-left: 0px;
    margin-bottom: 10px;
    background-color: rgb(9, 98, 9);
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: rgb(224, 235, 239);
}

.welcome_message{
    display: flex;
    justify-content: center;
    font-size: 60px;
    text-align: center;
    color: rgb(224, 235, 239);
    margin-right: 15%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}

.individual_games_box{
    background-color: #B2D3C2;
    margin-left: 0px;
    width: 170px;
    padding-top: 20px;
    margin-top: 0px;
    border-radius: 5px;
    max-height: 800px;
}

.individual_games_border{
    background-color: #99EDC3;
    padding: 5px;
    border-radius: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

.individual_games_border:hover{
    background-color: rgb(232, 226, 226);;
}

.individual_games_font{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: bold;
    text-align: center;
    text-decoration-color: white;
    padding-top: 20px;
    padding-bottom: 20px;

}

.content_container{
    display: flex;
    flex-direction: column;
}

.wordle_content{
    margin-top: 0px;
    margin-left: 500px;
    font-size: 80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin-bottom: 0px;
    font-family: cursive;
}


.how_play{
    margin-top: 20px;
    margin-left: 10%;
    font-size: 25px;
    text-decoration-color: olive;
    width: 400px;
    margin-bottom: 20px;
    margin-right: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}

.how_play_content{
    margin-top: 5px;
    margin-left: 10px;
    font-size: 22px;
    text-decoration-color: greenyellow;
    width: 300px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}

.final_how_play_content{
    margin-bottom: 0px;
}

.library_def_box{
    margin-top: 50px;
    border-radius: 15px;
    background-color: lemonchiffon;
    width: 350px;
    margin-left: 80px;
    height: 50px;
    padding: 5px;
}

.library_def_text{
    font-size: 35px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.play_wordle_box{
    margin-top: 20px;
    border-radius: 15px;
    background-color:whitesmoke; 
    width: 300px;
    margin-left: 50%;
    height: 50px;
    text-align: center;
}

.play_wordle_content{
    padding-top: 3px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    text-align: center;
    color: cornflowerblue;
}

.wordle_game_box{
    background-color: white;
    width: 1500px;
    margin-left: 150px;
    border-radius: 15px;
    height: 100%;
    margin-top: 50px;
}


.guessing_library{
    margin-left: 30px;
    color: black;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin-bottom: 0px;
    margin-right: 0px;
}

.input_letter_box{
    margin-left: 50px;
    margin-top: 40px;
    width: 80px;
    height: 80px;
    border: 5px solid rgb(28, 202, 28);
    background-color: whitesmoke;
    border-radius: 40px;
    text-align: center;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}

.letter_input{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}

.enter_box{
    background-color: lightskyblue;
    width: 80px;
    height: 40px;
    margin-left: 850px;
    border-radius: 5px;
}

.enter_text{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin-left: 5px;
}

.enter_box:hover{
    background-color: lightgray;
}

.correct_box{ 
    margin-left: 55px;
    margin-top: 30px;
    padding-right: 5px;
    width: 80px;
    height: 80px;
    background-color: lightgreen;
    border-radius: 30px;
}

.partial_correct_box{
    margin-left: 55px;
    margin-top: 30px;
    padding-right: 5px;
    width: 80px;
    height: 80px;
    background-color: yellow;
    border-radius: 30px;
}

.incorrect_box{
    margin-left: 55px;
    margin-top: 30px;
    padding-right: 5px;
    width: 80px;
    height: 80px;
    background-color: rgb(255, 0, 0);
    border-radius: 30px;
}

.hide_item{
    height: 0px;
}

.hidden{
    height: 0px;
}

.play_again_box{
    height: 40px;
    width: 150px;
    margin-left: 30%;
    margin-top: 50px;
    border: 5px solid rgb(197, 163, 117);
    border-radius: 20px;
    background-color: rgb(216, 183, 140);
}

.play_again_box:hover{
    background-color: rgb(221, 221, 221);
}

.play_again_text{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    text-align: center;
}

.definition_library{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: rgb(243, 139, 91);
    margin-left: 20px;
}

.correct_answer_display{
    margin-top: 40px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin-left: 400px;
    color: goldenrod;
}


.wordle_instructions{
    margin-top: 20px;
    margin-left: 40px;
    height: 300px;
    width: 1000px;
    background-color: whitesmoke;
}

.how_to_play_words{
    margin-left: 25px;
    font-size: 27px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}

.wordle_instructions_words{
    margin-left: 20px;
    font-size: 23px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}