<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Guessing_Function.css') }}" />
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        fetch('/variable_initialize', {
            method: 'GET',
        })
        .then(response => {
            console.log("Function executed");
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
    </script>
</head>
<body class="background_color">

    <div class="title_box">
        <p class="games_box games_text">
            Games
        </p>
        <p class="welcome_message">
            Guessing Function
        </p>
        <style>
            img{
                border-radius: 30px;
                margin-right: 30px;
            }
        </style>
        <img src="{{ url_for('static',filename='Image_6.png') }}" width="70" height="70">
    </div>
    </div>
    
    <div class="horizontal_display">
        <div class="individual_games_box" id="individual_games_box_open">

            <p class="individual_games_border individual_games_font" href = "/open_Project_Dispenser" onclick="open_Home_Page()">
                Home Page
            </p>

            <p class="individual_games_border individual_games_font" href = "/open_Wordle_Game" onclick="open_Wordle_Game()">
                Wordle
            </p>
            
            <p class="individual_games_border individual_games_font " href = "/open_Guessing_Function" onclick="open_Guessing_Function()">
                PythonLe
            </p>

            <p class="individual_games_border individual_games_font" href = "/open_Project_Dispenser" onclick="open_Project_Dispenser()">
                Project Dispenser
            </p>

        </div>
        <div>
            <div class="how_to_play_initial">
                <div>
                    <p class="minimize_button_words" onclick="close_how_play_box()"> <b> -- </b> </p>
                </div>
            </div>
            <div class="horizontal_display">
                <div class="how_to_play_content" id="how_to_play_box">
                        <p class="how_play_words">
                            How to Play: You must guess a mystery Function
                            in 6 tries by inputting python code into the textbox.
                            The color indicates how close your function was, to 
                            the original function. On the side box, you can test
                            out the myster function by inputting a value and receiving
                            an output as a result. The input and the output types
                            are given. Ex: if the function is f(x) = x^2, an input 
                            of 3 would result in an output of 9, and in the textbox 
                            you would type: 
                            <br>
                            <br>
                            def f(x):
                            <br>
                                return x**2
                        </p>
                    </div>
                    <style>
                        img{
                            border-radius: 30px;
                            margin-right: 30px;
                        }
                    </style>
                    <img src="{{ url_for('static',filename='Image_6.png') }}" width="100" height="100">
                </div>
                <div class="horizontal_display">
                    <div>
                        <p class="Guessing_Function_Text">Guess the Function</p>
                        <textarea rows="20" cols="80" style="width: 500px; height: 300px" class="textarea_alignment">
#input a function as f(x)
#input: int     output: str 
#delete comments
def test_func(x):
    return None
                        </textarea>

                        <div class="percent_box" id="sending_output">
                            <p class="output_words">Output:</p>
                        </div>

                        <div class="submit_button" onclick="user_code()">
                            <p class="submit_button_words">Submit</p>
                        </div>

                    </div>
                    <div class="horizontal_display">
                        <div class="check_x">
                            <p class="check_x_words"> x </p>
                            <div class="line_break_2"></div>
                            <div class="input_boxes">
                                <input type="text" class="check_x_box" id="input_x1">
                            </div>
                            <div class="line_break_2"></div>
                            <div class="input_boxes">
                                <input type="text" class="check_x_box" id="input_x2">
                            </div>
                            <div class="line_break_2"></div>
                            <div class="input_boxes">
                                <input type="text" class="check_x_box" id="input_x3">
                            </div>
                            <div class="line_break_2"></div>
                            <div class="input_boxes">
                                <input type="text" class="check_x_box" id="input_x4">
                            </div>
                            <div class="line_break_2"></div>
                            <div class="input_boxes">
                                <input type="text" class="check_x_box" id="input_x5">
                            </div>
                            <div class="line_break_2"></div>
                            <div class="input_boxes">
                                <input type="text" class="check_x_box" id="input_x6">
                            </div>
                        </div>
                        <div class="vertical_line_break"></div>
                        <div class="check_fx">
                            <p class="check_fx_words"> f(x)</p>
                            <div class="line_break_2"></div>
                            <div class="output_boxes">
                                <div class="check_fx_box" id="output_x1"></div>
                            </div>
                            <div class="line_break_2"></div>
                            <div class="output_boxes">
                                <div class="check_fx_box" id="output_x2"></div>
                            </div>
                            <div class="line_break_2"></div>
                            <div class="output_boxes">
                                <div class="check_fx_box" id="output_x3"></div>
                            </div>
                            <div class="line_break_2"></div>
                            <div class="output_boxes">
                                <div class="check_fx_box" id="output_x4"></div>
                            </div>
                            <div class="line_break_2"></div>
                            <div class="output_boxes">
                                <div class="check_fx_box" id="output_x5"></div>
                            </div>
                            <div class="line_break_2"></div>
                            <div class="output_boxes">
                                <div class="check_fx_box" id="output_x6"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


<script src="{{ url_for('static',filename='Guessing_Function.js') }}"></script>

</body>

</html>