<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Wordle_Frontend.css') }}" />
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            wordle_open();
        });
    </script>
</head>
<body class="background_color">

    <div class="title_box">
        <p class="games_box games_text">
            Games
        </p>
        <p class="welcome_message">
            Wordle
        </p>
        <style>
            img{
                border-radius: 30px;
                margin-right: 30px;
            }
        </style>
        <img src="{{ url_for('static',filename='Image_6.png') }}" width="70" height="70">
    </div>
    </div>
    
    <div class="horizontal_display">
        <div class="individual_games_box" id="individual_games_box_open">

            <p class="individual_games_border individual_games_font" href = "/open_Project_Dispenser" onclick="open_Home_Page()">
                Home Page
            </p>

            <p class="individual_games_border individual_games_font" onclick="open_Wordle_Game()">
                Wordle
            </p>
            
            <p class="individual_games_border individual_games_font" onclick="open_Guessing_Function()">
                PythonLe
            </p>

            <p class="individual_games_border individual_games_font" onclick="open_Project_Dispenser()">
                Project Dispenser
            </p>

        </div>

        <div>
                
            <div class="horizontal_display">
                <ul class = "how_play">
                    How to Play: 
                        <li class="how_play_content">
                            Rule 1
                        </li>
                        <li class="how_play_content">
                            Rule 2
                        </li>
                        <li class="how_play_content">
                            Rule 3
                        </li>
                </ul>
                <style>
                    img{
                        border-radius: 30px;
                        margin-top: 10px;
                    }
                </style>
                <img src="{{ url_for('static',filename='Image_8.png') }}" width="150" height="150">
            </div>

            <div class="wordle_game_box" id="wordle_game_box_unknown"> 
                <div>
                    <p class="guessing_library">
                        Guess the library that: 
                    </p>
                    <p class = "definition_library" id="library_definition_placeholder"></p>
                </div>

                <div class="horizontal_display" id="input_container">

                </div>

            </div>

        </div>

    </div>
    
<script src="{{ url_for('static',filename='Wordle_Frontend.js') }}"></script>

</body>

</html>
