body, header, div{
    margin: 0;
    padding: 0;
}

.horizontal_display{
    display: flex;
}

.vertical_display{
    display: flex;
    flex-direction: column;
}


.background_color{
    background-color: #eafafe;
    padding: 0px;
}

.title_box{
    background-color: #F3CEB0;
    max-width: 100%;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.games_box{
    margin-left: 10px;
    margin-bottom: 0px;
    background-color: #C8A2C8;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

.games_box:hover{
    background-color: azure;
}

.welcome_message{
    display: flex;
    justify-content: center;
    font-size: 60px;
    text-align: center;
    color: white;
    margin-right: 30%;
}

.individual_games_box{
    background-color: #B2D3C2;
    margin-left: 10px;
    width: 130px;
    padding-top: 20px;
    margin-top: 10px;
    border-radius: 5px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.individual_games_boxes_open{
    max-height: 500px;
}


.individual_games_border{
    background-color: #99EDC3;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.individual_games_font{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    text-decoration-color: white;

}

.content_container{
    display: flex;
    flex-direction: column;
}

.how_to_play_initial{
    margin-top: 40px;
    background-color: white;
    margin-left: 10px;
    height: 30px;
    width: 1000px;
}

.how_to_play_content{
    height: 300px;
    width: 1000px;
    background-color: white;
    margin-left: 10px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.how_to_play_content_hidden{
    height: 0px;
}

.minimize_button{
    height: 20px;
    width: 50px;
    margin-left: 30px;
    background-color: skyblue;
    border-radius: 5px;
    margin-top: 15px;

}

.minimize_button_words{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.minimize_button:hover{
    background: lightgray;
}

.how_play_words{
    color: gray;
    font-size: 20px;
    margin-left: 20px;
}

.pythonle{
    margin-left: 500px;
    color: goldenrod;
    font-size: 50px;
    margin-top: 20px;
}

.check_x{
    margin-top: 40px;
    background-color: whitesmoke;
    height: 90px;
    width: 125px;
    margin-left: 200px;
}

.input_boxes{
    background-color: whitesmoke;
    height: 90px;
    width: 125px;
    text-align: center;
}

.check_x_words{
    font-size: 30px;
    text-align: center;
}

.check_fx{
    margin-top: 40px;
    background-color: whitesmoke;
    height: 90px;
    width: 125px;
}

.check_fx_words{
    font-size: 30px;
    text-align: center;
}

.check_x_box{
    background-color: lightblue;
    margin-left: 20px;
    margin-top: 10px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.check_fx_box{
    background-color: lightseagreen;
    margin-left: 28px;
    margin-top: 10px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.test_words{
    margin-top: 10px;
}

.line_break{
    background-color: black;
    height: 3px;
    width: 125px;
    margin-bottom:0px;
    margin-top: 45px;

}

.vertical_line_break{
    margin-top: 40px;
    height: 650px;
    width: 3px;
    background-color: black;
}

.line_break_2{
    background-color: black;
    height: 3px;
    width: 125px;
    margin-bottom:0px;
}

.output_boxes{
    background-color: whitesmoke;
    height: 90px;
    width: 125px;
}

.submit_button{
    height: 50px;
    width: 70px;
    background-color: white;
    margin-left: 50px;
    margin-top: 70px;
}

.submit_button_words{
    font-size: 20px;
    text-align: center;
}