body, header, div{
    margin: 0;
    padding: 0;
}

.horizontal_display{
    display: flex;
}

.vertical_display{
    display: flex;
    flex-direction: column;
}


.background_color{
    background-color: whitesmoke;
    padding: 0px;
}

.title_box{
    background-color: rgb(31, 182, 31);
    max-width: 100%;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.games_box{
    margin-left: 0px;
    margin-bottom: 10px;
    background-color: rgb(9, 98, 9);
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-size: 25px;
    color: rgb(224, 235, 239);
}

.welcome_message{
    display: flex;
    justify-content: center;
    font-size: 60px;
    text-align: center;
    color: rgb(224, 235, 239);
    margin-right: 10%;
}

.individual_games_box{
    background-color: #B2D3C2;
    margin-left: 0px;
    width: 170px;
    padding-top: 20px;
    margin-top: 0px;
    border-radius: 5px;
    max-height: 100%;
}

.individual_games_border{
    background-color: #99EDC3;
    padding: 5px;
    border-radius: 20px;
    margin-top: 250px;
    margin-bottom: 250px;
    margin-left: 10px;
    margin-right: 10px;
}

.individual_games_border:hover{
    background-color: rgb(232, 226, 226);;
}

.individual_games_font{
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
    text-decoration-color: white;
    padding-top: 20px;
    padding-bottom: 20px;

}

.content_container{
    display: flex;
    flex-direction: column;
}

.about_us_box{
    margin-left: 70px;
    margin-top: 150px;
    background-color: rgb(155, 201, 216);
    border-radius: 10px;
    width: 350px;
    height: 70px;
}

.about_us_words{
    font-size: 30px;
    color: rgb(6, 24, 42);
    text-align: center;
}

.picture_class{
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 300px;
}

.about_us_content_box{
    height: 300px;
    width: 900px;
    border: 3px solid rgb(124, 206, 124);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-left: 225px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about_us_content_words{
    font-size: 25px;
    color: navy;
    margin-left: 20px;
}

.name_box{
    height: 80px;
    width: 150px;
    background-color: rgb(219, 98, 98);
    margin-left: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

.creators_box{
    margin-top: 10px;
    margin-left: 10px;
    height: 150px;
    width: 300px;
    border: 5px rgb(206, 203, 203);
    border-radius: 10px;
    background-color: whitesmoke;
}

.creators_box_words{
    margin-left: 10px;
    font-size: 20px;
    color: navy;
}

.name_in_box{
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
}