<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Project_Dispenser.css') }}" />
</head>
<body class="background_color">

        <div class="title_box">
            <p class="games_box games_text">
                Games
            </p>
            <p class="welcome_message">
                Project Dispenser
            </p>
            <style>
                img{
                    border-radius: 30px;
                    margin-right: 30px;
                }
            </style>
            <img src="{{ url_for('static',filename='Image_6.png') }}" width="70" height="70">
        </div>
        </div>
        
        <div class="horizontal_display">
            <div class="individual_games_box" id="individual_games_box_open">
    
                <p class="individual_games_border individual_games_font" href = "/open_Wordle_Game" onclick="open_Wordle_Game()">
                    Wordle Game
                </p>
                
                <p class="individual_games_border individual_games_font " href = "/open_Guessing_Function" onclick="open_Guessing_Function()">
                    Guessing Function Game
                </p>
    
                <p class="individual_games_border individual_games_font" href = "/open_Project_Dispenser" onclick="open_Project_Dispenser()">
                    Project Dispenser
                </p>
    
                <p class="individual_games_border individual_games_font" href = "/open_Project_Dispenser" onclick="open_Home_Page()">
                    Home Page
                </p>
    
            </div>
    

        <div>
            <div>
                <div class="difficulty_level">
                    <p class="difficulty_level_words">Choose a Difficulty Level:</p>
                </div>
                <div class="horizontal_display">
                    <div class="difficulty_1" onclick="output_difficulty1()">
                        <p class="difficulty_1_words">1</p>
                    </div>
                    <div class="difficulty_2" onclick="output_difficulty2()">
                        <p class="difficulty_2_words">2</p>
                    </div>
                    <div class="difficulty_3" onclick="output_difficulty3()">
                        <p class="difficulty_3_words">3</p>
                    </div>
                </div>
            </div>
            <div class="project_display_box" id="project_display">
                
            </div>
        </div>

    </div>
    
    <div>
        <div>

        </div>
    </div>

<script src="{{ url_for('static',filename='Project_Dispenser.js') }}"></script>

</body>

</html>