<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Title.css') }}" />
</head>
<body class="background_color">

    <div class="title_box">
        <p class="games_box games_text" onclick="open_box()">
            Game
        </p>
        <p class="welcome_message">
            Welcome to {Title}
        </p>
    </div>
    
    <div class="horizontal_display">
        <div class="individual_games_box" id="individual_games_box_open">

            <p class="individual_games_border individual_games_font" href = "/open_Wordle_Game" onclick="open_Wordle_Game()">
                Wordle Game
            </p>
            
            <p class="individual_games_border individual_games_font " href = "/open_Guessing_Function" onclick="open_Guessing_Function()">
                Guessing Function Game
            </p>

            <p class="individual_games_border individual_games_font"> 
                AI Bot Helper
            </p>

            <p class="individual_games_border individual_games_font" href = "/open_Project_Dispenser" onclick="open_Project_Dispenser()">
                Project Dispenser
            </p>

        </div>


<script src="{{ url_for('static',filename='Title.js') }}"></script>

</body>


</html>